<!DOCTYPE html>
<html lang="en">
<head>
     <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title>Hello, AMPs</title>
    <link rel="canonical" href="https://amp.dev/documentation/guides-and-tutorials/start/create/basic_markup/">
    <meta name="viewport" content="width=device-width">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "logo.jpg"
        ]
      }
    </script>
    <style amp-custom>
  /* any custom style goes here */
  body {
    background-color: black;
  }
  amp-img {
    background-color: gray;
    border: 1px solid black;
  }
</style>
  </head>
  <body>
    <h1>Welcome to the mobile web</h1>
    <amp-img src="../static/img/https://images.ctfassets.net/hrltx12pl8hq/7yQR5uJhwEkRfjwMFJ7bUK/dc52a0913e8ff8b5c276177890eb0129/offset_comp_772626-opt.jpg?fit=fill&w=800&h=300" alt="Welcome" height="400" width="800"></amp-img>


<h1>Hello</h1>
</body>
</html>